{{ $directory := "content/" }}
{{ $filename := "uvod.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
<section class="about uvod" id="uvod">
    <div class="container middle-xs">
        <div class="row center-xs">
            <div class="col-xs-12"><h1>{{ with $.Site.GetPage "page" "uvod.md" }}{{ .Title }}{{ end }}</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-12 middle-xs uvod">
                {{ with $.Site.GetPage "page" "uvod.md" }}
                    {{ .Content }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
